.compras{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.contenedor-compras{
    width: 100%;
    height: auto;
   margin:0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#compras{
    width: 65%;
    display: flex;
}

.col-compras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:calc(100%/3);
    height:350px;
    margin:1em 0;
}
.card-compra{
    margin:1em 1.3em;
    max-width: 100%;
    max-height: 100%;
    
}
.card-compra .card-title{
    font-size: 1em !important;
    font-weight: bold;
}
.card-compra:hover{
    box-shadow: 0 0 10px #666;
    
}

#carrito{
    width: 35%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
}

.img-card-compra{
    height: 40%;
       border-radius: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0%;
}
.img-card-compra>img{
    max-width: 100%;
    max-height: 100%;
}
.body-compras{
    height: 40%;
   padding:0 auto;
  
}

.body-compras>p{
    padding: 0;
    margin: 0;
}
.title-compras{
font-size: 0.8em;
color:#00bf63
}

.footer-compras{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrito{
    width:90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(0,0,0,0.175);;
    border-radius: 5px;
    margin-top: 35px;
    overflow: hidden;
    position: sticky !important;
    top:0;
    transition: .3s;
}
.carrito-header{
    background-color: #00bf63;
    color:white;
    font-size: 1.3em;
    width:100%;
   padding: 16px 0;
    text-align: center;
}
.carrito-items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrito-item{
    width: 100%;
    height: 130px;
    display: flex;
    position: relative;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    padding:5px;
    border-bottom: 1px solid rgba(0,0,0,0.175);

}
.cont-carritoImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
  width:30%;
    height: 100%;
    margin-right: 20px;
}
.cont-carritoImage>img{
   max-width: 100%;
    max-height: 100%;
}
.carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.carrito-item-detalles{
    flex-direction: row;
}
.selector-cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin:0;
}
.carrito-item-precio{
    width:55%;
}
.form-control{
    width: 40%;
}
.fa-trash{
    color:#00bf63;
    font-size: 1.1em;
}
.carrito-footer{
    background-color: #00bf63;
    color:white;
    font-size: 1.3em;
    width:100%;
   padding: 8px 0;
    text-align: center;
}

.oculto{
    display: none !important;
}
