#detalleProducto{
    width: 80%;
    height: auto;
    display: none;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin:10% 10%;
}
.detalleContent{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:none;

    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
-webkit-box-shadow: 10px 10px 3px -6px rgba(7,130,71,1);
-moz-box-shadow: 10px 10px 3px -6px rgba(7,130,71,1);
box-shadow: 10px 10px 3px -6px rgba(7,130,71,1);
    
}
.detalleIzquierda{
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.detalleDerecha{
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}
.imgDetalleContent{
     width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 100px;
    overflow:hidden;
    -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.76);
    box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.76);
}
.imgDetalleContent>img{
    max-width: 100%;
    max-height: 100%;
    
    -webkit-transition: all .5s ease;
    /* Safari y Chrome */
    -moz-transition: all .5s ease;
    /* Firefox */
    -o-transition: all .5s ease;
    /* IE 9 */
    -ms-transition: all .5s ease;
    /* Opera */
}
.imgDetalleContent>img:hover{
    -webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
}
.iconos{
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color:#078247;
}
.misc {
    background: none;
    border: none;
    border-top-width: 3.8px;
    border-top-style: ridge;
    width: 80%;
    margin: 0.375em auto;
}

.gray-misc {
    border-top-color: #259b62;
    ;
}
.detalleDerecha .btnShop{
    align-self: center;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 0.8rem;
}
.hidden{
    display: none !important;
}
.tituloDetalle{
    font-weight: bolder;
    color:#078247;
    font-size: 1.2em;
}
.titulo{
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color:#00bf63;
    position: relative;
    top:-80px;
    text-transform: uppercase;
}
@media screen and (min-width:480px) and (max-width:991px){
    .detalleContent{
        flex-direction: column;
    }
    .detalleIzquierda{
        height: auto;
        width: 100%;
    }
    .detalleDerecha{
        height: auto;
        width: 100%;
    }
    .imgDetalleContent{
        width: 100%;
        height: 300px;
        display: block;
        box-shadow: none;
        bottom: 0;
        position: relative;
      left: 10%;
       
       
    }
    .titulo{
        top:-40px;
    }
}
@media screen and (min-width:320px) and (max-width:480px){
    .detalleContent{
        flex-direction: column;
        -webkit-box-shadow: -8px 9px 3px -6px rgba(7,130,71,1);
        -moz-box-shadow: -8px 9px 3px -6px rgba(7,130,71,1);
        box-shadow: -8px 9px 3px -6px rgba(7,130,71,1);
    }
    .detalleIzquierda{
        height: auto;
        width: 100%;
    }
    .detalleDerecha{
        height: auto;
        width: 100%;
    }
    .imgDetalleContent{
        width: 100%;
        height: 200px;
        display: block;
        box-shadow: none;
        bottom: 0;
    }
    .titulo{
        top:-40px;
    }
}
@media screen and (max-width:320px) {
    .detalleContent{
        flex-direction: column;
        -webkit-box-shadow: -8px 9px 3px -6px rgba(7,130,71,1);
        -moz-box-shadow: -8px 9px 3px -6px rgba(7,130,71,1);
        box-shadow: -8px 9px 3px -6px rgba(7,130,71,1);
    }
    .detalleIzquierda{
        height: auto;
        width: 100%;
    }
    .detalleDerecha{
        height: auto;
        width: 100%;
    }
    .imgDetalleContent{
        display: none;
    }
    .iconos{
        display:none;
    }
    .titulo{
        text-align: center;
       
        top:-10px;
    }
}