#seccionProductos {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#productosDietetica {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tituloSeccion {
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: #00bf63;
}

.cardProducto {
    width: 300px;
    height: 450px;
    margin: 10px;
    cursor: pointer;
}

.imageProducContent {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}

.imageProducContent>img {
    min-width: 100%;
    min-height: 100%;
   transition: all .5s ease;
    /* Safari y Chrome */
    -moz-transition: all .5s ease;
    /* Firefox */
    -o-transition: all .5s ease;
    /* IE 9 */
    -ms-transition: all .5s ease;
    /* Opera */
}
  
.imageProducContent>img:hover{
    -webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
}
.bodyProducto {
    height: 35%;
    width: 100%;
    --bs-card-spacer-y: 0.5rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0;
}

.footProducto {
    height: 15%;
    width: 100%;
}

.btn {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 0.8rem;
    align-items: center;
    margin: 0 10px;
    color: white;
}

.btnShop {
    --bs-btn-bg: #078247 !important;
}

.btnShop:hover {
    --bs-btn-hover-bg: #00bf63 !important;
    --bs-btn-hover-color: white !important;
    /* --bs-btn-bg: #046f3b !important; */
}

.btnInfo {
    --bs-btn-bg: #0097b2 !important;
}

.btnInfo:hover {
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #0ad3f7 !important;
}

.card-title .tituloProducto {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
@media (max-width:320px){
    .btn {
        --bs-btn-padding-x: 0.375rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-size: 0.5rem;
        margin: 0 5px;
    }
    .cardProducto {
        height: 500px;
    }
}